name: Docker CI

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - run: docker build -t ${{ secrets.DOCKER_USER }}/portfolio:latest .
      - run: echo "${{ secrets.DOCKER_PASS }}" | docker login -u "${{ secrets.DOCKER_USER }}" --password-stdin
      - run: docker push ${{ secrets.DOCKER_USER }}/portfolio:latest
